@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.footer {
    display: flex;
    flex-direction: column;
    font-family: 'Bebas Neue', sans-serif;
    color: white;
    height: 10rem;
    justify-content: center;
    width: 100%;
    letter-spacing: 2px;
}

.medias {
    background-color: rgb(41, 76, 70);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;


}

.socialMedias {
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin-top: -1rem;

    img {
        // padding: 10px;
        margin-bottom: 15px;

        cursor: pointer;

    }
}